<div class="p-4 h-[90vh]">
  <div class="flex justify-between items-center mb-5">
    <h2 class="font-bold md:text-lg">All Bookmarks</h2>
    <img
      (click)="close()"
      class="cursor-pointer"
      src="assets/images/x-close.png"
      alt="close"
    />
  </div>
  <ng-container *ngIf="data.bookmarkedList.length; else emptyState">
    <div *ngFor="let article of data.bookmarkedList; let i = index">
      <div class="flex gap-5 items-center py-4 border-b">
        <img class="w-7 h-4" [src]="article.urlToImage" alt="url_image" />
        <p class="truncate break-words cursor-pointer">
        <a [href]="article.url" target="_blank">{{
          article.title
          }}</a>
      </p>
        <img class="cursor-pointer w-5 h-5" (click)="deleteArticle(i)" src="assets/icons/delete.svg" alt="delete">
      </div>
    </div>
  </ng-container>
  <!-- empty state for bookkmarked list -->
  <ng-template #emptyState class="">
    <div class="flex justify-center items-center h-full">
      <div class="text-center">
        <img
          src="assets/images/bookmark.png"
          alt="bookmark"
          class="mx-auto mb-4"
        />
        <p class="font-semibold">There are no articles bookmarked</p>
      </div>
    </div>
  </ng-template>
</div>
