<div class="pb-12 px-6 flex flex-col items-center">
    <div class="flex gap-3 items-center">
      <div class="bg-lightGrey p-3 rounded-xl">
        <img class="w-4 h-4 cursor-pointer" src="assets/icons/twitter.svg" alt="twitter" />
      </div>
      <div class="bg-lightGrey p-3 rounded-xl">
        <img class="w-4 h-4 cursor-pointer" src="assets/icons/facebook.svg" alt="facebook" />
      </div>
      <div class="bg-lightGrey p-3 rounded-xl">
        <img class="w-4 h-4 cursor-pointer" src="assets/icons/linkdin.svg" alt="linkedin" />
      </div>
      <div class="bg-lightGrey p-3 rounded-xl">
        <img class="w-4 h-4 cursor-pointer" src="assets/icons/youtube.svg" alt="youtube" />
      </div>
    </div>
   <div class="mt-7 text-sm">
    <p class="break-words text-center text-primaryGrey mb-4">Copyright ©2024 All rights reserved | This template is made by Colorib </p>
    <p class="text-center text-primaryGrey">Terms & Condition / Privacy Policy</p>
   </div>
  </div>
  